# NVRam
allow cameraserver ccci_device:chr_file rw_file_perms;
allow cameraserver nvdata_file:dir rw_dir_perms;
allow cameraserver nvdata_file:file create_file_perms;

# Camera
allow cameraserver camera_device:chr_file rw_file_perms;
allow cameraserver devmap_device:chr_file { ioctl };
allow cameraserver devmap_device:chr_file r_file_perms;
allow cameraserver mtk_smi_device:chr_file rw_file_perms;
allow cameraserver proc:file { read ioctl open };
allow cameraserver sensorservice_service:service_manager find;
allow cameraserver sysfs_devinfo:file rw_file_perms;
allow cameraserver system_server:unix_stream_socket { read write };

# PQ
allow cameraserver pq_service:service_manager find;

# MemInfo
allow cameraserver proc_meminfo:file { getattr open read };

# SysFS
allow cameraserver sysfs:file { open read };

# Storage
allow cameraserver storage_file:lnk_file { read };
allow cameraserver storage_file:dir { search };

# TmpFS
allow cameraserver tmpfs:dir { search };

# User File
allow cameraserver mnt_user_file:dir { search };

