allow surfaceflinger pq_service:service_manager find;

set_prop(surfaceflinger, debug_prop);

unix_socket_connect(surfaceflinger, property, init)

allow surfaceflinger mtk_smi_device:chr_file { read write open ioctl };
